@import "Globals";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: $leading;
  letter-spacing: 0.02em;
}

html {
  width: 100%;
}

html {
  background-image: linear-gradient(to bottom, rgba(0, 70, 55, .01) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% $base_line_height;
}

h1, h2, h3 {
  padding-bottom: $leading;
  font-weight: bold;
}

table, tr, td, th {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  line-height: $leading*2;
}

blockquote, .edit, .block, p {
  padding-bottom: $leading;
}

p {
  line-height: $base_line_height;
}

h1 {
  font-size: $base_font_size*2.5;
  line-height: $leading*2.5;
  padding-top: $leading * 3;
}

h2 {
  font-size: $base_font_size*2;
  line-height: $leading*2;
  padding-top: $leading * 2;
}

h3 {
  font-size: $base_font_size*1.75;
  line-height: $leading*1.75;
  padding-top: $leading * 1.5;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}

a {
  display: inline-block;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Roboto', 'Anonymous Pro', monospace;
}

blockquote {
  font-style: oblique;
  border-left: 4px solid #eee;
  padding: ($leading * 0.5);
  margin-left: $leading;
  color: #668;
}

input, textarea {
  width: 100%;
  height: calc(100% - 2);
}

textarea, input[type='text'], input[type='password'], input[type='email'], input[type=submit], select, button, .blocks, .input {
  border: 1px solid #ccc;
  padding: ($leading * 0.5) - 1;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  line-height: $base_line_height;
}

.blocks {
  padding: $leading;
  margin-bottom: $leading;
}

button {
  //height: $leading;
}

input[type='text'], input[type='password'], input[type='email'], input[type=submit], select, button, .input {
  background: #fbfbfb;
  font-size: $base_font_size;
  line-height: $leading;
}

label {
  font-size: $base_font_size;
  margin-bottom: $leading * 0.5;
  display:inline-block;
}

iframe {
  width: 100%;
  max-height: 200px;
}

.edit-controls button {
  @include text-size(0.5);
  margin-left: $leading * 0.5;
  border-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.edit-title {
  margin-bottom: $leading * 0.5;
}

.edit-window {
  position: relative;
}
.muted {
  color: #aaa;
}
.flex {
  display: flex;
  align-items:center;
}