@import url("https://fonts.googleapis.com/css?family=Roboto");
[class*="flex"] {
  display: flex;
  align-items: center; }

[class*="-row"] {
  flex-flow: row wrap; }

[class*="-col"] {
  flex-flow: column;
  align-items: normal; }

[class*="-inline"] {
  display: inline-flex; }

[class*="-nowrap"] {
  flex-wrap: nowrap; }

[class*="-reverse"] {
  flex-direction: row-reverse; }

[class*="align-start"] {
  align-items: flex-start; }

[class*="align-center"] {
  align-items: center; }

[class*="align-end"] {
  align-items: flex-end; }

[class*="justify-start"] {
  justify-content: flex-end; }

[class*="justify-center"] {
  justify-content: center; }

[class*="justify-end"] {
  justify-content: flex-end; }

[class*="space-between"] {
  justify-content: space-between; }

[class*="space-around"] {
  justify-content: space-around; }

[class*="grow"] {
  flex: 1; }

[class*="first"] {
  order: -1; }

[class*="last"] {
  order: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 18px;
  letter-spacing: 0.02em; }

html {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.02) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 18px;
  width: 100%;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3 {
  padding-bottom: 18px;
  font-weight: bold;
  margin: 0; }

table, tr, td, th {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  line-height: 36px; }

blockquote, p {
  padding-bottom: 18px; }

p {
  line-height: 18px; }

h1 {
  font-size: 35px;
  line-height: 45px;
  padding-top: 54px; }

h2 {
  font-size: 28px;
  line-height: 36px;
  padding-top: 36px; }

h3 {
  font-size: 24.5px;
  line-height: 31.5px;
  padding-top: 27px; }

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

a {
  display: inline-block; }

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Roboto, "Anonymous Pro", monospace; }

blockquote {
  font-style: oblique;
  border-left: 4px solid #eee;
  padding: 9px;
  margin-left: 18px;
  color: #668; }

input, textarea {
  width: 100%;
  height: calc(100% - 2); }

textarea, input[type='text'], input[type='password'], input[type='email'], input[type=submit], select, button, .blocks, .input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  line-height: 18px; }

.blocks {
  padding: 18px;
  margin-bottom: 18px; }

button {
  cursor: pointer; }

input[type='text'], input[type='password'], input[type='email'], input[type=submit], select, button, .input {
  background: #fbfbfb;
  font-size: 14px;
  line-height: 18px; }

label {
  display: block;
  margin-bottom: 9px;
  display: inline-block; }

iframe {
  width: 100%;
  max-height: 200px; }

.edit.block, .edit-controls {
  border-left: 3px solid #eee;
  padding-left: 18px; }

.block {
  margin-bottom: 18px; }

.edit-controls {
  top: 0;
  z-index: 1; }

.edit-controls button {
  margin-right: 9px;
  margin-bottom: 9px;
  text-transform: uppercase; }

.edit-controls .last {
  margin-left: auto;
  margin-right: 0; }

.edit-controls svg {
  height: 12px;
  width: 12px; }

.edit-title {
  margin-bottom: 9px; }

.edit-window {
  position: relative; }

.muted {
  color: #aaa; }

/*# sourceMappingURL=Default.css.map */
