@import "Globals";

#message-queue {
  height: 0;
  overflow-y: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#message-queue input {
  background: #fff;
}

.hero {
  padding: $leading*2 0;
}

.hero svg {
  height: $leading*3;
  width: $leading*2;
  line-height: $leading*3;
  padding-top: $leading * 1;
}

.bg-primary {
  background-color: #0081f5;
  color: #fff;
}

input[type=submit].primary, button.primary {
  border-color: #0081f5;
  color: #0081f5;
}

input[type=submit].primary:hover, button.primary:hover {
  border-color: #0081f5;
  color: #bce1ff;
  background-color: #0081f5;
  cursor: pointer;
}

input[type=submit].primary:active, button.primary:active {
  border-color: #bce1ff;
  color: #0081f5;
  background-color: #bce1ff;
  cursor: pointer;
}

ul, ol {
  margin-left: $leading * 1;
}

li {
  line-height: $leading*2;
}

select {
  padding-right: $base_font_size*4;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:after {
  font-family: monospace;
  content: '⤓';
  font-size: $base_font_size;
  position: absolute;
  top: $base_font_size*0.10;
  right: $base_font_size*0.75;
  color: #434B67;
  pointer-events: none;
  font-weight: bolder;
}

.edit-controls svg,
.text-controls svg {
  height: 12px;
  width: 12px;
}

.editor {
  margin-bottom: $leading*8;
}
.input:last-child {
  padding-bottom: 0;
}
.wysiwyg-controls {
position:sticky;
  top:0;
  z-index:1;
}