<div class="edit-controls">
    <button onmousedown="" onclick="document.execCommand('bold', false,'');"><i data-feather="bold"></i></button>
    <button onmousedown=""><i data-feather="italic"></i></button>
    <button onmousedown=""><i data-feather="underline"></i></button>
    <button onmousedown=""><i data-feather="type"></i></button>

    <button onmousedown="" onclick="document.execCommand('formatBlock', false,'<h1>');">H1</button>
    <button onmousedown="" onclick="document.execCommand('formatBlock', false,'<h2>');">H2</button>
    <button onmousedown="" onclick="document.execCommand('formatBlock', false,'<h3>');">H3</button>
    <button onmousedown="" onclick="document.execCommand('formatBlock', false,'<p>');">P</button>


    <button onmousedown=""><i data-feather="paperclip"></i></button>
    <button onmousedown=""><i data-feather="list"></i></button>
    <button onmousedown=""><i data-feather="link"></i></button>

    <button onmousedown=""><i data-feather="align-left"></i></button>
    <button onmousedown=""><i data-feather="align-center"></i></button>
    <button onmousedown=""><i data-feather="align-right"></i></button>


    <button onmousedown="" onclick="document.execCommand('formatBlock', false,'<BLOCKQUOTE>');">quote</button>
    <button onmousedown=""
            onclick="document.execCommand('removeFormat', false,'');removeSelectedElements('h1,h2,h3,h4,h5,h6,blockquote,span');">
        clear formatting
    </button>

    <button onmousedown=""><i data-feather="maximize"></i></button>

</div>